<div class="jumbotron text-xs-center">
  <div class="progress">
  <div class="progress-bar" style="width:<%= @percent_done %>%">
    <span><%= @percent_done %>% Complete</span>
  </div>
</div>
  <div class="prompt"><%= @question.prompt %></div>
  <div class="options">
    <%= form_tag decision_path(id:@question.id), method: :put do %>
        <%= render @partial, meta: @question.meta %>
    <% end %>
  </div>
</div>
